body{
	background-color: #69C0DC;
}
.firstcolor{
	background-color: #083198;
	color: #FFF;
	text-align: center;
}
h1{
	font-size: 85px;
	padding-top: 25px;
}
.question{
	background-color: #1470C1;
	margin-top: 15px;
	color: #FFF;
	text-align: center;
	padding: 10px 0;
}
.buttons{
    margin-top: 15px;
}
.math{
    background-color: #E9E603;
    text-align: center;
    padding-top: 100px;
	color: #FFF;
	border: 0;
}
.math:hover{
	cursor: pointer;
}
#backgroundyellow{
    background-color: #C1BF2A;
	padding-bottom: 20px;
}
.esp{
	background-color: #E70000;
	text-align: center;
	padding-top: 100px;
	color: #FFF;
	border: 0;
}
.esp:hover{
	cursor: pointer;
}
#backgroundred{
	background-color: #AD0101;
	padding-bottom: 20px;
}